{{!
    Opengraph tags, twitter card and other meta

    Expecting:
        - {title}
        - {image}
        - {description}
        - {url}

    Optional:
        - {locale}        Current lang_TERRITORY
        - {alternate}     OTher language the page is available in
        - {type}        Content type such as video, image, article...
}}

{{#meta}}

    {{! Regular tags }}
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">

    {{! OG tags }}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="{{url}}">
{{#image}}
    <meta property="og:image" content="{{image}}" />
{{/image}}
{{#type}}
    <meta property="og:type" content="{{type}}" />
{{/type}}
{{#locale}}
    <meta property="og:locale" content="{{locale}}">
{{/locale}}
{{#alternate}}
    <meta property="og:locale:alternate" content="{{alternate}}">
{{/alternate}}


    {{! Twitter tags }}
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:url" content="{{url}}" />

{{#image}}
    <meta name="twitter:image" content="{{image}}" />
    <meta name="twitter:image:src" content="{{image}}" />
{{/image}}

{{/meta}}
